<!-- header -->
<div class="container-fluid">
  <app-navbar></app-navbar>
</div>

<main style="margin-top: -49px">
  <div class="container-fluid" style="height: 100vh"> <!-- ./container-fluid -->
    <div class="content card border-light"> <!-- ./content -->

      <ul>
        <div *ngFor="let sponsor of SPONSORS">

        </div>
      </ul>

      <!-- footer -->
      <div>
        <app-footer></app-footer>
      </div>

    </div> <!-- ./content -->
  </div> <!-- ./container-fluid -->


</main>

