div {
    margin: 1rem auto;
    background-color: #0e79c1;
  }
  
  .textstyle2 {
    width: 90rem;
    height: 45rem;
    background-color: #0e79c1;
    border-radius: 90rem 90rem 0 0;
  }
  
  