a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.circle {

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 15%;
  background-color: #0e79c1;
  border-radius: 90rem 90rem 0 0;
  padding-top: 40%;
}

.img {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.grid {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: pink;

}

.bild {
  margin-bottom: 100%;
  margin-left: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-link {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}