<footer class="footer">
    <div class="main-container">
        <div class="circle">
            <div class="d-flex justify-content-center">
                <img src="assets\img\LogoZukunftNeu.png" width="50%" height="50%">
                <img src="assets\img\LogoZukunftNeu.png" width="50%" height="50%">
                <img src="assets\img\LogoZukunftNeu.png" width="50%" height="50%">
            </div>
            <div class="container">
                <a class="nav-link text-dark fs-4 me-5" href="#">Impressum</a>
                <a class="nav-link text-dark fs-4 me-5" href="#">Kontakt</a>
                <a class="nav-link text-dark fs-4 me-5" href="#">AGB</a>
                <a class="nav-link text-dark fs-4 me-5" href="#">Schulwebsite</a>
            </div>
        </div>
    </div>
</footer>