<footer class="footer">

    <div class="bild">
        <img src="assets\img\LogoZukunft.png">
    </div>        


    <div class="textstyle2">

        
        <p class="textstyle" style="text-align:center">
            <a onclick="alert('clicked')" [routerLink]="['Sponsoren']">Impressum</a>・
            <a [routerLink]="['Copyright Link']">Kontakt</a>・
            <a [routerLink]="['Impressum']">AGB</a>・
            <a [routerLink]="['Kontakt']">Über uns</a>・
        </p>

        <br>

    </div>

</footer>