<body class="text-center">

    <main class="form-signin w-100 m-auto">
      <form style="margin-top: 15vh">
        <img class="mb-4" src="assets/Images/logo-bkwitten4.png" [routerLink]="['/start']">
        <h1 class="h3 mb-3 fw-normal">Passwort ändern</h1>
        <div class="form-floating">
          <input type="password" [(ngModel)]="actualpassword" [ngModelOptions]="{standalone: true}" class="form-control"
            id="floatingInput" placeholder="Pasword">
          <label for="floatingInput">Aktuelles Passwort</label>
        </div>
        <div class="form-floating">
          <input type="password" [(ngModel)]="newpassword" [ngModelOptions]="{standalone: true}" class="form-control"
            id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Neues Passwort</label>
        </div>
        <div class="form-floating">
        <input type="password" [(ngModel)]="repeatpassword" [ngModelOptions]="{standalone: true}" class="form-control"
          id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Neues Passwort wiederholen</label>
      </div>
        <button [routerLink]="['/start']" class="w-100 btn btn-lg btn-primary mt-4" type="submit">Ändern</button>

      </form>
    </main>
  
  </body>
  