<!-- header -->
<div class="container-fluid">
  <app-navbar></app-navbar>
</div>

<main>
  <div class="container-fluid" style="height: 100vh"> <!-- ./container-fluid -->
    <div class="content card"> <!-- ./content -->

    <!-- Banner. -->
    <div class="row image d-flex justify-content-center mx-0"> <!-- ./row -->
      <div class="title">
      <h1 class="banner-title" Style="color: white; text-align: center">Hackathon 2023</h1>
      <h2 class="banner-sub-title" Style="color: white; text-align: center">Berufskolleg Witten</h2>
    </div>
    </div> <!-- ./row -->

      <h1 class="align-self-center my-3">Unsere Schule der Zukunft</h1>

    <!-- -->
    <div class="main-container px-3">
    <article class="row mt-2">
      <p class="">Schule hat sich in den letzten Jahren rasant verändert.
        Nicht nur die Art und Weise, wie gelernt und gelehrt
        wird, ist einem Wandel unterworfen, sondern auch die
        Inhalte, die für die jungen Menschen in der Zukunft
        wichtig sind, haben sich geändert.
        Die Schule soll die jungen Menschen auf die Zukunft
        vorbereiten - unter den genannten Veränderungen
        müssen wir uns neu aufstellen und wollen dabei alle
        Beteiligten zu Wort kommen lassen.</p>
    </article>

      <div class="d-flex embed-responsive embed-responsive-16by9 justify-content-center ratio ratio-16x9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ"  allowfullscreen></iframe>
      </div>

    <article class="row mt-4">
      <h2 class="text-end">BlaBlaBla</h2><div>
      <div class="dot ht-green"></div>
      <span class="text-center">Wie stellen wir uns unsere Schule der Zukunft
        vor? Diese Frage war der Ausgangspunkt
        unserer Überlegungen.
        Wir alle haben viele Ideen - aber welche? Um
        das herauszufinden, möchten wir alle an der
        Schule Beteiligten zusammenholen und sie
        fragen.
        Dafür haben wir uns bei #wirfürschule für
        einen Hackathon beworben und gewonnen.
        #wirfürschule unterstützt uns zusammen mit
        dem Deutschen Kinderhilfswerk, Procter &
        Gamble und Rossmann mit 10.000 Euro sowie
        Knowhow und Manpower.
        Das Wort Hackathon ist eine
        Wortneuschöpfung aus den Wörtern hacken
        und Marathon: Für eine festgelegte Zeit setzen
        sich Menschen zusammen und überlegen - in
        unserem Fall - nach der Design Thinking
        Methode eine Lösung für ein Problem.
        Die Herausforderungen, die wir bearbeiten,
        werden in mehreren Umfragen entwickelt und
        anschließend in Gruppen bearbeitet.</span>
    </div>
    </article>
    <article class="row mt-4">
      <h2>BlaBlaBla</h2>
      <div>
      <div class="dot-right ht-red"></div>
      <span class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi assumenda consequatur, inventore voluptates numquam quod enim accusamus ipsa distinctio, eius sed esse dignissimos doloribus, maiores consectetur porro similique voluptas dolore.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione asperiores, illum architecto omnis qui hic aperiam nesciunt ipsum tempore fugiat quas deserunt voluptate autem ad consequuntur fugit id dicta deleniti!
      </span>
    </div>
    </article>

    </div> <!-- ./main-container -->

      <!-- footer -->
      <div>
        <app-footer></app-footer>
      </div>

    </div> <!-- ./content -->
  </div> <!-- ./container-fluid -->


</main>
