<!-- header -->
<div class="container-fluid">
  <app-navbar></app-navbar>
</div>
<main>
  <div class="container-fluid" style="height: 100vh"> <!-- ./container-fluid -->
    <div class="content"> <!-- ./content -->

      <!-- Banner. -->
      <div class="row image d-flex"> <!-- ./row -->
        <p class="banner-title" Style="color: white; text-align: center">Hackathon 2023</p>
        <p class="banner-sub-title" Style="color: white; text-align: center">Berufskolleg Witten</p>
      </div> <!-- ./row -->


      <app-footer></app-footer>

      <!-- -->
      <div class="row">

      </div>

    </div> <!-- ./content -->
  </div> <!-- ./container-fluid -->

  <!-- footer -->
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</main>