@media only screen and (max-width: 600px) {
  main {
    padding-left: 0vw;
    padding-right: 0vw;
  }
}
@media only screen and (min-width: 600px) {
  main {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

.image {
  background-image: url('src/assets/Images/banner.jpg');
  background-size: 100% 200%;
  width: 100%;
  height: 20em;
  max-height: 200px;
  background-position: center 10;
  background-repeat: no-repeat;
}

.title{
  align-self: center;
  text-align: center;
  width: 80%;
  height: 70%;
  padding: 2.5%;
}

.banner-title{
  font-size: calc(2vw + 2em);
  margin: 0;
  line-height: 1.2;
}

.banner-subtitle{
  font-size: calc(2vw + 1.5em);
  margin: 0;
  line-height: 1.2;
}

.dot{
  border-radius:50%;
  float:left;
  shape-outside: circle(50% at 50% 50%) border-box;
  shape-margin: 1em;
  margin:1.5em;
  width: 12em;
  height: 12em;
}
.dot-right{
  border-radius:50%;
  float:right;
  shape-outside: circle(50% at 50% 50%) border-box;
  shape-margin: 1em;
  margin:1.5em;
  width: 12em;
  height: 12em;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
