<!-- header -->
<div class="container-fluid">
  <app-navbar></app-navbar>
</div>
<main>
  <div class="container-fluid" style="height: 100vh"> <!-- ./container-fluid -->
    <div class="content"> <!-- ./content -->

    <!-- Banner. -->
    <div class="row image d-flex justify-content-center"> <!-- ./row -->
      <div class="title">
      <h1 class="banner-title" Style="color: white; text-align: center">Hackathon 2023</h1>
      <h2 class="banner-sub-title" Style="color: white; text-align: center">Berufskolleg Witten</h2>
    </div>
    </div> <!-- ./row -->

    <!-- -->
    <article class="row mt-4">
      <h2>BlaBlaBla</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi assumenda consequatur, inventore voluptates numquam quod enim accusamus ipsa distinctio, eius sed esse dignissimos doloribus, maiores consectetur porro similique voluptas dolore.</p>
    </article>
    <article class="row mt-4">
      <h2>BlaBlaBla</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi assumenda consequatur, inventore voluptates numquam quod enim accusamus ipsa distinctio, eius sed esse dignissimos doloribus, maiores consectetur porro similique voluptas dolore.</p>
    </article>
    <span class="dot-big"></span>
    <article class="row mt-4">
      <h2>BlaBlaBla</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi assumenda consequatur, inventore voluptates numquam quod enim accusamus ipsa distinctio, eius sed esse dignissimos doloribus, maiores consectetur porro similique voluptas dolore.</p>
    </article>

    </div> <!-- ./content -->
  </div> <!-- ./container-fluid -->

  <!-- footer -->
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</main>
